<form method="post" action="{{ path('saved_post_delete', {'id': saved_post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saved_post.id) }}">
    <button class="btn">Delete</button>
</form>
