<!DOCTYPE html>

<title>New SavedPost</title>

{% block body %}
    <h1>Create new SavedPost</h1>

    {{ include('saved_post/_form.html.twig') }}

    <a href="{{ path('saved_post_index') }}">back to list</a>
{% endblock %}
