<!DOCTYPE html>

<title>Edit NotifComments</title>

{% block body %}
    <h1>Edit NotifComments</h1>

    {{ include('notif_comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('notif_comments_index') }}">back to list</a>

    {{ include('notif_comments/_delete_form.html.twig') }}
{% endblock %}
