<!DOCTYPE html>

<title>NotifComments index</title>

{% block body %}
    <h1>NotifComments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notif_comment in notif_comments %}
            <tr>
                <td>{{ notif_comment.id }}</td>
                <td>
                    <a href="{{ path('notif_comments_show', {'id': notif_comment.id}) }}">show</a>
                    <a href="{{ path('notif_comments_edit', {'id': notif_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notif_comments_new') }}">Create new</a>
{% endblock %}
