{% extends 'base.html.twig' %}

{% block title %}New NotifComments{% endblock %}

{% block body %}
    <h1>Create new NotifComments</h1>

    {{ include('notif_comments/_form.html.twig') }}

    <a href="{{ path('notif_comments_index') }}">back to list</a>
{% endblock %}
