{% extends 'base.html.twig' %}

{% block title %}New HashtagPosts{% endblock %}

{% block body %}
    <h1>Create new HashtagPosts</h1>

    {{ include('hashtag_posts/_form.html.twig') }}

    <a href="{{ path('hashtag_posts_index') }}">back to list</a>
{% endblock %}
