<!DOCTYPE html>

<title>New HashtagPost</title>

{% block body %}
    <h1>Create new HashtagPost</h1>

    {{ include('hashtag_post/_form.html.twig') }}

    <a href="{{ path('hashtag_post_index') }}">back to list</a>
{% endblock %}
